<template>
    <div class="mainly">
        <div class="day">{{day}}</div>
        <div class="circle_around" :style="{background:conicGradient}">
            <div class="circle"><div class="num" v-bind:class="{current: current}">{{num}}</div></div>
        </div>
        <div class="pourcent"  v-bind:class="{current: current}">{{total}}<span v-if="total != null">%</span></div>
    </div>
</template>
<script>

export default {
  name: 'DayPourcent',
  props: {
        date: {
            type: Date,
            required: true
        },
        habitudes:Array,
    },
    data() {
        return{
            day:null,
            num:null,
            current:false
        }
    },
    watch: {
        date(val){
            this.updateDate(val)
        }
    },
    computed:{
        conicGradient: function(){
            if(this.habitudes == null)
                return ""

            let i = 0
            let total = 0
            let conicGradient = "conic-gradient("
            this.habitudes.forEach(element => {
                total += element.pourcent / this.habitudes.length
                if(i > 0)
                    conicGradient += ","

                conicGradient += element.color + " 0% " + total + "%"
                i++
            })
            conicGradient += ",rgb(221, 221, 221) 0% " + (100-this.total).toString() + "%)"
            return conicGradient
        },
        total: function(){
            if(this.habitudes == null)
                return null

            let total = 0
            this.habitudes.forEach(element => {
                total += element.pourcent / this.habitudes.length
            })
            return total
        }
    },
    methods: {
        updateDate: function(date){
            let days = ["D","L","M","M","J","V","S"]
            this.day = days[date.getDay()]
            let day = date.getDate()
            if(day < 10)
                day = "0" + date.getDate().toString()
            this.num = day

            let curDay = new Date()
            if(date.getDate() == curDay.getDate())
                this.current = true
        }
    },
    mounted(){
        this.updateDate(this.date)
    }
}
</script>

<style scoped>
    .mainly{
        position: relative;
        text-align: center;

        width:2.4em;

        font-size: 0.7em;
    }
    .day{
        font-size:0.9em;
        font-weight: 800;
        color:rgb(0, 0, 0);

        margin-bottom: 0.5em;
    }
    .circle_around{
        position: relative;

        padding:0.2em;
        background:none;

        width:2em;
        height:2em;

        border-radius: 50%;

        margin-bottom: 0.6em;
    }
    .circle{
        position: relative;

        width:100%;
        height:100%;
        border-radius: 50%;
        background:white;
    }
    .num{
        font-weight: 500;
        color:rgb(51, 51, 51);

        position: absolute;
        top:45%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .pourcent{
        font-weight: 400;
        font-size:0.9em;
        color:rgb(122, 122, 122);
    }
    .current{
        font-weight: 800;
        color:black;
    }
</style>