<template>
<div>
<div class="footer shadow"></div>
<div class="footer">
    <div class="button active" v-on:click="activate()"><font-awesome-icon :icon="['far', 'newspaper']" size="1x"></font-awesome-icon></div>
    <div class="button" v-on:click="activate()"><font-awesome-icon :icon="['far', 'calendar']" size="1x"></font-awesome-icon></div>
    <div class="button add" v-on:click="add()"><div class="ora"><div class="icon"><font-awesome-icon :icon="['fas', 'plus']" size="1x"></font-awesome-icon></div></div></div>
    <div class="button" v-on:click="activate()"><font-awesome-icon :icon="['far', 'list-alt']" size="1x"></font-awesome-icon></div>
    <div class="button" v-on:click="activate()"><font-awesome-icon :icon="['far', 'bell']" size="1x"></font-awesome-icon></div>
</div>
</div>
</template>

<script>
export default {
  name: 'Footer',
  props: {
  },
  data() {
        return {
        }
  },
  methods: {
      activate: function(){
        this.$el.getElementsByClassName('button').forEach(element => {
            element.classList.remove('active')
        })
        event.currentTarget.classList.add('active')
      },
      add: function(){
        let elem = event.currentTarget
        event.currentTarget.querySelector(".icon").classList.add('add_click')
        this.$router.push({name: 'Habitude'})
        setTimeout(() => {
            elem.querySelector(".icon").classList.remove('add_click')
        }, 500);
      }
  }
}
</script>

<style scoped>
    .footer{
        position:fixed;
        bottom:0;
        width:100%;
        height:3.5em;
        background:white;

        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .shadow{
        width:100%;
        box-shadow: 0px -10px 30px 50px #f0f0f0;
        z-index:-500;
    }
    .button{
        width:1em;
        height:1em;
        position: relative;

        color:rgb(170, 170, 170);
        font-size: 1.25em;

        cursor: pointer;
    }
    .active{
        color: #ff9961;
        animation-name:on_click;
        animation-duration:0.5s;
    }
    .button > *{
        position: absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .add{
        position: relative;
        width:2em;
        height:2em;
        background:none;
        font-size: 1em;

        top:-1.3em;
    }
    .add .ora{
        border-radius: 50%;

        width:2.3em;
        height:2.3em;
        padding:0.8em;
        background: rgb(73, 43, 158);
        background: linear-gradient(-180deg, rgb(212, 196, 255) 0%, rgba(255,255,255,1) 100%);
    }
    .add .icon{
        position: absolute;
        background:#6444bf;
        padding:1em;
        color:white;
        border-radius: 50%;

        top:50%;
        left:50%;
        transform: translate(-50%,-50%);

        font-size: 1.4em;
    }
    .add .icon.add_click{
        animation-name:on_click_add;
        animation-duration:0.5s;
    }
    .add .icon > * {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

        font-size: 0.8em;
    }
    @keyframes on_click {
        0% {
            transform:scale(1);
        }
        50%{
            transform:scale(0.6);
        }
        to {
            transform:scale(1);
        }
    }
    @keyframes on_click_add {
        0% {
            font-size:1em;
        }
        50%{
            font-size:0.8em;
        }
        100% {
            font-size:1em;
        }
    }
</style>