<template>
    <div class="habitude" :class="{done:done}">
        <div class="leftblock" :style="{background: color}">
            <div class="bk1"></div>
            <div class="bk2"></div>
            <div class="bk3"></div>
            <div class="icon"></div>
        </div>
        <div class="middleblock">
            <div class="type">{{type}}</div>
            <div class="libelle">{{libelle}}</div>
            <div class="pourcent">
                <div class="bar">
                    <div class="background_bar" :style="{background:color}"></div>
                    <div class="barprogress" :style="{width:pourcent + '%',background:color}"></div>
                </div>
                <div class="pourcentage">{{pourcent}}%</div>
            </div>
        </div>
        <div class="rightblock">
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</template> 
<script>

export default {
    name: 'HabitudePreview',
    props: {
        type: String,
        libelle: String,
        pourcent: Number,
        color: String
    },
    computed: {
        done: function(){
            if(this.pourcent == 100)
                return true
            return false
        }
    },
    mounted(){
        let random = Math.floor(Math.random() * (2 - 1 + 1)) + 1
        if(random == 1)
            this.$el.querySelector('.leftblock').classList.add('background_1')
        else
            this.$el.querySelector('.leftblock').classList.add('background_2')
    }
}
</script>

<style scoped>
    .habitude{
        display:flex;
        justify-content: space-between;
        font-size: 0.9em;   

        height:4.5em;
        margin:2em 0;
    }
    .done{
        opacity:0.3;
    }
    .leftblock{
        position: relative;
        width:4.5em;
        height:4.5em;
        border-radius: 0 1em 0 1em;
        background:yellowgreen;

        overflow: hidden;
    }
    .background_1 > .bk1{
        position: absolute;
        width:175%;
        height:100%;
        border-radius: 50%;
        background:rgba(255, 255, 255, 0.212);

        bottom:-50%;
        right:-100%;
    }
    .background_1 > .bk2{
        position: absolute;
        width:100%;
        height:100%;
        border-radius: 50%;
        background:rgba(255, 255, 255, 0.212);

        top:-50%;
        left:-50%; 
    }
    .background_1 > .bk3{
        position: absolute;
        width: 60%;
        height: 200%;
        background: rgba(255, 255, 255, 0.212);
        transform: rotate(60deg);
        bottom: -10%;
        right: 30%;
    }
    .background_2 > .bk1{
        position: absolute;
        width:110%;
        height:110%;
        border-radius: 50%;
        background:rgba(255, 255, 255, 0.123);

        top:-50%;
        left:-50%; 
    }
    .background_2 > .bk2{
        position: absolute;
        width:120%;
        height:100%;
        border-radius: 50%;
        background:rgba(255, 255, 255, 0.212);

        bottom:-40%;
        right:-70%;
    }
    .background_2 > .bk3{
        position: absolute;
        width: 40%;
        height: 200%;
        background: rgba(255, 255, 255, 0.212);
        transform: rotate(20deg);
        bottom: -10%;
        left: 0%;
    }
    .middleblock{
        position: relative;
        width:70%;
    }
    .type{
        font-size:0.8em;
        font-weight:400;
        color:rgb(119, 119, 119);

        margin-bottom: 0.4em;
    }
    .libelle{
        font-size:1em;
        font-weight:600;
        color:rgb(0, 0, 0);

        margin-bottom: 1em;
    }
    .pourcent{
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
    .bar{
        position: relative;
        width:30%;
        height:0.35em;
        background:rgb(255, 255, 255);
        border-radius: 16px;

        overflow: hidden;
    }
    .background_bar{
        position: absolute;
        width:100%;
        height:0.35em;
        background:rgb(227, 255, 170);
        border-radius: 16px;

        opacity:0.2;
    }
    .pourcentage{
        position: relative;
        margin-left:0.8em;
        font-size: 0.7em;
    }
    .barprogress{
        position: relative;
        width:80%;
        height:100%;
        background:yellowgreen;
        border-radius: 16px;
    }
    .rightblock{
        position: relative;
        height:50%;
        top:25%;

        display:flex;
        align-items: center;
        justify-content:space-evenly;
        flex-direction: column;
    }
    .dot{
        width:0.3em;
        height:0.3em;

        background:black;
        border-radius: 50%;
    }
</style>