<template>
    <div class="main">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="hello">BONJOUR FRANCK,</div>
        <div class="picture">
            <div class="circle circle_color"></div>
            <div class="circle"></div>
            <div class="pict" :style="{ backgroundImage: 'url(' + picture + ')' }"></div>
        </div>
    </div>
</template>
<script>

export default {
  name: 'Header',
  data(){
      return{
          picture:"https://scontent-cdg2-1.cdninstagram.com/v/t51.2885-15/e35/38862313_471019650065395_3506249036074781508_n.jpg?_nc_ht=scontent-cdg2-1.cdninstagram.com&_nc_cat=107&_nc_ohc=NLAq1RHhxRYAX8aCZE-&se=7&oh=0b4e41ca4c92ebca88c48e09e4050480&oe=5ED01325"
      }
  }
}
</script>

<style scoped>
    .main{
        position: relative;
        height:5em;
        margin-bottom:1em;
    }
    .dots{
        top:1.8em;
        position:absolute;
        display:flex;
        width:1em;
        justify-content: space-between;
    }
    .dot{
        width:0.2em;
        height:0.2em;
        border-radius: 50%;

        background:black;
    }
    .hello{
        position: absolute;
        bottom:1em;
        font-weight:400;
        font-size: 0.7em;

        color:rgb(136, 136, 136);
    }

    .picture{
        position:absolute;
        top:3em;
        right:2em;
    }
    .picture > * {
        position: absolute;
        border-radius: 50%;     
        
        width:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .circle{
        width:3em;
        height:3em;
        background:white;
    }
    .circle_color{
        padding:0.1em;
        background:orange;
    }
    .pict{
        width:2.5em;
        height:2.5em;

        background:rgb(231, 231, 231);
        background-size:100%;
    }
</style>