<template>
    <div class="MainApp">
        <Header></Header>
        <div class="main">
            <div class="title">Ton suivi d'habitudes</div>
            <div class="curDate"><div>{{curDate}}</div><font-awesome-icon :icon="['fas', 'angle-down']" size="1x"></font-awesome-icon></div>
        </div>
        <div class="daysPourcent main">
            <div v-for="(day,i) in days" :key="`{${i}${day.date}}`">
                <DayPourcent :date=day.date :habitudes=day.habitudes></DayPourcent>
            </div>
        </div>
        <PopUpAide></PopUpAide>
        <div v-for="(habitude,i) in habitudes" :key="`{${i}${habitude.libelle}}`" class="Habitudes main">
            <HabitudePreview :type=habitude.type :libelle=habitude.libelle :pourcent=habitude.pourcent :color=habitude.color></HabitudePreview>
        </div>
    </div>
</template>
<script>
import PopUpAide from '@/components/PopUpAide'
import DayPourcent from '@/components/DayPourcent'
import Header from '@/components/Header'
import HabitudePreview from '@/components/HabitudePreview'

export default {
  name: 'Main',
  components: {
        Header: Header,
        DayPourcent: DayPourcent,
        PopUpAide: PopUpAide,
        HabitudePreview:HabitudePreview

  },
  data(){
      return{
        habitudes:null,
        days:[],
        curDate: String
        }
    },
    mounted(){
        // get habitudes
        if (this.$store.getters.GET_HABITUDES !== null) {
            this.habitudes = this.$store.getters.GET_HABITUDES
        }

        let CurDate = new Date()
        let CurDay = CurDate.getDay()
        let index = CurDay
        var date = new Date()

        while(index >= 0)
        {
            date.setDate(CurDate.getDate() - index)

            this.days.push({date:new Date(date), habitudes:this.habitudes})
            index--
        }
        for (index = 1; index < 7 - CurDay; index++) {
            date.setDate(CurDate.getDate() + index)
            
            this.days.push({date:new Date(date), habitudes:this.habitudes})
        }

        let months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet", "Août","Septembre","Octobre","Novembre","Décembre"]
        let day = CurDate.getDate()
        let month = CurDate.getMonth()
        let year = CurDate.getFullYear()

        this.curDate = day + " " + months[month] + ", " + year

    }
}
</script>

<style scoped>
    .MainApp{
        position: relative;
        height:calc(100vh);
        width:100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .MainApp > *:last-child {
        margin-bottom:6em;
    }
    .daysPourcent{
        position: relative;

        display: flex;
        justify-content: space-between;

        /* margin-bottom:2em; */
    }
    .title{
        position: relative;

        font-size:1.5em;
        font-weight: 700;
        color:black;
    }
    .curDate{
        position: relative;

        font-weight:600;
        font-size: 0.9em;
        margin-top:0.3em;
        margin-bottom: 2em;
    }
    .curDate > *{
        display:inline-block;
    }
    .curDate >*:nth-child(1n+0){
        margin-right:0.7em;
    }

    .Habitudes{
        margin-top:2em;
    }
</style>