<template>
    <div class="main">
        <div class="close" v-on:click="close"><font-awesome-icon :icon="['fa', 'times']" size="1x"></font-awesome-icon></div>
        <div class="title">{{title}}</div>
        <div class="description">{{description}}</div>
        <div class="link">{{link.name}}</div>
    </div>
</template>
<script>
import $ from 'jquery'

export default {
  name: 'PopUpAide',
  data(){
    return {
        title:"Tiens bon !",
        description:"En moyenne, il faut 66 jours pour ancrer une nouvelle habitude. Tu le savais ?",
        link: {
            name:"En savoir plus",
            url:null
        }
    }
  },
  methods: {
    close : function() {
        var elem = this
        $(this.$el).animate({height:"0px", opacity:0, margin:0, padding:0},800,function(){
            // destroy the vue listeners, etc
            elem.$destroy();

            // // remove the element from the DOM
            elem.$el.parentNode.removeChild(elem.$el);
        })
    }
  }
}
</script>

<style scoped>
    .main{
        margin-top:2em;
        margin-bottom:1em;

        position: relative;
        padding:1em 1em 1em 1em;
        background:#fff7ee;
        text-align: left;

        border-radius: 1em 1em 0 0;

        font-size:0.8em;

        width:80%;
        overflow-y:hidden;
    }
    .close{
        color:#ffb38a;
        position: absolute;

        right:1.5em;
        top:1em;

        font-size:1em;

        cursor: pointer;
    }
    .title{
        color:black;
        font-weight: 600;
        margin-bottom:1em;
    }
    .description{
        color:#7d7990;
        margin-bottom:1em;

        width:90%;
    }
    .link{
        color:#fc5800;
        font-weight: 800;
        font-size: 0.9em;
    }
</style>