<template>
  <div class="color" :style="cssVars" v-on:click="click()"></div>
</template>

<script>
export default {
  name: 'ColorPicker',
  props:{
    color:String
  },
  methods: {
    click: function(){
      let elem = event.currentTarget
      event.currentTarget.classList.add('click')
      setTimeout(() => {
          elem.classList.remove('click')
      }, 500);
      this.$emit('onClick', this.color);
    }
  },
  computed: {
    cssVars() {
      return {
        '--bg-color': this.color
      }
    }
  }
}
</script>

<style scoped>
  .color{
    margin:0.5em 0.5em 0 0;
    width:3em;
    height:3em;
    border-radius:10px;
    background: var(--bg-color);
  }
  .click{
    animation-name:on_click;
    animation-duration:0.5s;
  }
  @keyframes on_click {
    0% {
      background:var(--bg-color);
    }
    50%{
      background:grey;
    }
    100% {
      background:var(--bg-color);
    }
  }
</style>