<template>
  <div class="MainHabitude">
    <Header></Header>
    <div class="main">
      <div class="colors">
        <div class="color_title">Couleur</div>
        <div class="sub_title darkGrey">Choisissez une couleur</div>
        <div class="colors_cont">
          <div v-for="(col,i) in colors" :key="`{${i}${color}}`">
              <ColorPicker :color=col @onClick="changeColor" :class="{active: color === col}"></ColorPicker>
          </div>
        </div>
      </div>
      <div class="type"><input v-model="type" placeholder="Catégorie"></div>
      <div class="libelle"><input v-model="libelle" placeholder="Libelle"></div>
      <div class="description"><textarea v-model="description" placeholder="Description"></textarea></div>
    </div>
    <div class="buttons">
      <div class="return button" v-on:click="back()"><div class="ora"><div class="icon"><font-awesome-icon :icon="['fas', 'caret-left']" size="1x"></font-awesome-icon></div></div></div>
      <div class="validate button" v-on:click="create()"><div class="ora"><div class="icon"><font-awesome-icon :icon="['fas', 'plus']" size="1x"></font-awesome-icon></div></div></div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'
import ColorPicker from '@/components/habitude/ColorPicker'

export default {
  name: 'Habitude',
  components: {
    Header: Header,
    ColorPicker: ColorPicker,
  },
  data(){
    return {
      colors: ["#ff894f","#6645b6", "#ffd349", "#914ba0", "#41a338"],
      color: null,
      type: null,
      libelle: null,
      description: null
    }
  },
  mounted() {
    this.color = this.colors[0]
  },
  methods: {
    changeColor: function(color){
      this.color = color
    },
    back: function(){
      this.$router.push('/')
    },
    create: function(){
      if(this.type.length < 3 || this.libelle.length < 3)
        return

      let habitude = {color: this.color, type:this.type, libelle:this.libelle, description:this.description, pourcent:0}
      this.$store.dispatch('addHabitude', habitude).then(() => {
        this.back()
      })
    }
  }
}
</script>

<style scoped>
  .MainHabitude{
    position: relative;
    height:calc(100vh);
    width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .darkGrey{
    color:rgb(43, 43, 43);
  }
  .colors{

  }
  .colors .color_title{
    font-size:1.3em;
    font-weight:600;
  }
  .colors .sub_title{
    margin-bottom:1em;
  }
  .colors_cont{
    display:flex;
    justify-content: flex-start;
    align-content:flex-start;
    flex-wrap: wrap;
    margin-bottom:1em;
  }
  .colors_cont .active{
    opacity:0.3;
  }
  .type, .libelle, .description{
    margin-top:2em;
  }
  .type > *{
    font-size:1.5em;
    border:none;
    width:100%;
    font-weight:600;
  }
  .libelle > *{
    font-size:1.3em;
    border:none;
    width:100%;
  }
  .description > *{
    font-size:1em;
    border:none;
    width:100%;
    height:6em;
    font-family: 'Lato', sans-serif;
  }
  /* Buttons */
  .buttons{
    position:fixed;
    display:flex;
    bottom:1em;
    left:50%;
    transform:translateX(-50%);
  }
  .button > *{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }
  .button{
    position: relative;
    width:2em;
    height:2em;
    background:none;
    font-size: 1em;

    top:-1.3em;
    margin:0 2em;
  }
  .button .ora{
    border-radius: 50%;

    width:2.3em;
    height:2.3em;
    padding:0.8em;
    background: rgb(73, 43, 158);
    background: linear-gradient(-180deg, rgb(212, 196, 255) 0%, rgba(255,255,255,1) 100%);
  }
  .return .ora{
    background: rgb(105, 105, 105);
    background: linear-gradient(-180deg, rgb(168, 168, 168) 0%, rgba(255,255,255,1) 100%);    
  }
  .button .icon{
    position: absolute;
    background:#6444bf;
    padding:1em;
    color:white;
    border-radius: 50%;

    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    font-size: 1.4em;
  }
  .return .icon{
    background: rgb(105, 105, 105);  
  }
  .button .icon > * {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    font-size: 0.8em;
  }
</style>