<template>
  <div id="app">
    <router-view name="Habitude"/>
    <router-view name="Main"/>
    <router-view name="Footer"/>
  </div>
</template>

<script>
import './assets/css/theme-colors.css'

export default {
  name: 'app'
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  background : var(--app-background-color);
}
*{
  margin:0;
  padding:0;
  /* disable blue highlight on mobile */
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.main{
  position: relative;

  width:85%;
  left:50%;
  transform: translateX(-50%);
}
</style>
